
<header class="navigation">
    <a class="logo" href="index.html">
        <img src="logo.jpg" width="100" height="100" decoding="async" fetchpriority="high" alt="South Branch Trades logo">
    </a>
    <div class="mobile-box">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
    </div> 
    <nav id="menu">
        <ul class="nav-menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li class="menu-cta"><img src="phone-icon.svg" width="40" height="40" decoding="async" alt=""><a href="tel:+17179407909">717 940 7909</a></li>
        </ul>
    </nav>

</header>




