

<section id="reviews">
    <h2>What Our Customers Are Saying</h2>
    <div class="review-card">
        <img src="quote-icon.svg" width="50" height="50" decoding="async" loading="lazy" alt="">
        <div class="stars-cont">
            <img src="star-icon.svg" width="30" height="30p" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
        </div>
        <p>Andrew and his crew completely transformed our 1880's barn. It turned out better than we could have imagined and they were fantastic to work with, start to finish!</p>
        <strong>Philip B.</strong>
    </div>
    <div class="review-card">
        <img src="quote-icon.svg" width="50" height="50" decoding="async" loading="lazy" alt="">
        <div class="stars-cont">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
            <img src="star-icon.svg" width="30" height="30" decoding="async" loading="lazy" alt="">
        </div>
        <p>South Branch did an outstanding job building my 40x60 pole barn. Very detailed and fair prices. Will definitely use them in the future.</p>
        <strong>Elmer F.</strong>
    </div>
    
</section>

