/* inter-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-400 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('plus-jakarta-sans-v12-latin-regular.woff2') format('woff2');
  unicode-range: U+0041;
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('plus-jakarta-sans-v12-latin-700.woff2') format('woff2');
  unicode-range: U+0041;
}

:root {
	--primary: #86543A;
	--primaryLight: #EED7C5;
	--secondary: #03045E;
	--third: #CAF0F8;
    --grayBackgrd: #F9FAFB;
	--font: #000;
    --h1: calc(2rem + 2vw);
    --h2: calc(1.3rem + 1vw);
    --h3: calc(1rem + 0.6vw);
    --p: calc(1rem + 0.5vw);
    --m-h1: 1.75rem;
    --m-h2: 1.5rem;
    --m-btn: 1.25rem;
    --border: 20px;
    --max: 1500px;
    --portfolioHeight: 500px;
}
/** {border: solid red 1px !important;}*/
* {box-sizing: border-box;}

body {
    font-family: Inter;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    max-width: 100vw;
    position: relative;

}

li {
	list-style: none;
}
a {
    border: none;
	text-decoration: none;
    color: var(--font);
}
h1, p, h2, h3 {
    color: var(--font);
}
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
p {
    font-size: var(--p);
}
button {
    display: flex;
    column-gap: 8px;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 15px 25px;
    width: auto;
    height: auto;
    color: #fff;
    font-size: var(--m-btn);
    text-align: center;
    border: none;
}

 /*     ---------------------------------------
        ---------------------------------------
        ---------------------------------------
        ----------MOBILE iPhone/ONLY-----------
        ---------------------------------------
        ---------------------------------------
        ---------------------------------------  */
@media only screen and (min-width: 0rem) {
button a {
    font-size: var(--m-btn);
    color: #fff;
}
button img {
    width: var(--m-btn);
    height: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    position: sticky;
    top: 1px;
    left: 0;
    box-shadow: 0 0 1px 3px var(--third);
    z-index: 1000;
    background-color: #fff;
    max-width: 1500px;
    margin: 0 auto;
}
.navigation .logo {
    width: 90px;
    height: 90px;
}
.navigation .logo img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.navigation .mobile-box {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.navigation .mobile-box .line {
    background-color: #545454;
    width: 70%;
    height: 6px;
    border-radius: 5px;
}
.mobile-menu-open .mobile-box .line1 {
    position: absolute;
    top: 45.5%;
    transform: rotate(50deg);
    transition: transform .6s;
}
.mobile-menu-open .mobile-box .line2 {
    display: none;
}
.mobile-menu-open .mobile-box .line3 {
    position: absolute;
    top: 45.5%;
    transform: rotate(-50deg);
    transition: transform .6s;
}
.mobile-menu-open #menu {
    display: inherit;
    position: absolute;
    top: 90px;
}
.mobile-menu-open .nav-menu {
    width: 95vw;
    padding: 25px 0 30px 0;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
    background-color: var(--primaryLight);
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.nav-menu .menu-cta {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background-color: var(--primary);
    padding: 18px;
}
.nav-menu .menu-cta img {
    width: 1.4rem;
    height: auto;
}
.nav-menu .menu-cta a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
}
#menu {
    display: none;
}
/*     ---------------------------------------
       ---------------------------------------
       ----------Home Page iPhone/ONLY--------
       ---------------------------------------
       --------------------------------------- */
#hero {
    position: relative;
    padding-bottom: 5px;
    background-color: var(--grayBackgrd);
}
#hero picture {
    width: calc(100vw - 10px);
    max-width: 1490px;
    display: block;
    margin: 5px auto;
}
#hero img {
    width: 100%;
    border-radius: 5px;
}
#hero .hero-content {
    width: 90vw;
    border: 1px solid var(--secondary);
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}
#hero .hero-content h1 {
    margin-top: 0;
    font-size: var(--m-h1);
    text-align: center;
}
#hero .hero-buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 15px;
}
#hero .hero-buttons img {
    width: var(--m-btn);
}
#hero .hero-buttons .hero-portfolio-btn {
    background-color: #fff;
    border: 1px solid var(--secondary);
}
#hero .hero-buttons .hero-portfolio-btn a {
    color: var(--secondary);
}



/*     ---------------------------------------
       ---------------------------------------
       -------Interior pages iPhone/ONLY------
       ---------------------------------------
       --------------------------------------- */
/* ---------- #about-hero ---------- */
#about-hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}
#about-hero picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
#about-hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 5vw;
    row-gap: 25px;
}
#about-hero .hero-content h1 {
    font-size: var(--m-h1);
    text-align: center;
    margin: 0;
}
#about-hero .hero-content p {
    margin: 0;
    text-align: left;
    width: 100%;
}
#about-hero .hero-content picture {
    width: 100%;
    display: block;
}
#about-hero .hero-content picture img {
    width: 100%;
    height: auto;
    border-radius: var(--border);
    display: block;
}
#about-hero .hero-content picture:nth-of-type(2) {
    width: 75vw;
    margin: 0 auto;
}
#about-hero .hero-buttons {
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0;
}
#about-hero .hero-buttons button {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
#about-hero .hero-buttons button a {
    font-size: var(--m-btn);
    color: #fff;
}
#about-hero .hero-buttons button img {
    width: var(--m-btn);
    height: auto;
}

/*-----------------services------------------*/
.serv-port-buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px auto 40px auto;
}
.serv-port-buttons h1 {
    text-align: center;
    font-size: var(--m-h1);
    margin-bottom: 30px;
}
.serv-port-buttons p {
    text-align: center;
}
.serv-port-buttons .select-a-service-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    column-gap: 15px;
}
.serv-port-buttons .select-a-service-buttons button {
    padding: 7px 15px;
    font-size: 1.3rem;
}
.show-garages .select-a-service-buttons #decks-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.show-garages .select-a-service-buttons #decks-btn a {
    color: var(--primary);
}
.show-additions .select-a-service-buttons #decks-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.show-additions .select-a-service-buttons #decks-btn a {
    color: var(--primary);
}
.select-a-service-buttons #garages-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.select-a-service-buttons #garages-btn a {
    color: var(--primary);
}
.select-a-service-buttons #additions-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.select-a-service-buttons #additions-btn a {
    color: var(--primary);
}
.show-garages .select-a-service-buttons #garages-btn {
    background-color: var(--primary);
    border: none;
}
.show-garages .select-a-service-buttons #garages-btn a {
    color: #fff;
}
.show-additions .select-a-service-buttons #additions-btn {
    background-color: var(--primary);
    border: none;
}
.show-additions .select-a-service-buttons #additions-btn a {
    color: #fff;
}
.services-hero {
    position: relative;
}
.services-hero .hero-pic {
    display: block;
    width: 100vw;
    max-width: 1500px;
}
.services-hero .hero-pic img {
    width: 100%;
}
.services-hero .icon-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    position: absolute;
    top: 30px;
    left: 30px;
}
.services-hero .icon-pic img {
    width: 62%;
    height: auto;
}

/*-------Portfolio--------*/

#portfolio-buttons .select-a-service-buttons {
    column-gap: 8px;
}
#portfolio-buttons .select-a-service-buttons button {
    padding: 7px 12px;
}
#portfolio-buttons .select-a-service-buttons button a {
    font-size: 1rem;
}
.port-additions #port-decks-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.port-additions #port-decks-btn a {
    color: var(--primary);
}
.port-garages #port-decks-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.port-garages #port-decks-btn a {
    color: var(--primary);
}
.port-misc #port-decks-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
.port-misc #port-decks-btn a {
    color: var(--primary);
}
#port-garages-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
#port-garages-btn a {
    color: var(--primary);
}
.port-garages #port-garages-btn {
    background-color: var(--primary);
    border: none;
}
.port-garages #port-garages-btn a {
    color: #fff;
}
#port-additions-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
#port-additions-btn a {
    color: var(--primary);
}
.port-additions #port-additions-btn {
    background-color: var(--primary);
    border: none;
}
.port-additions #port-additions-btn a {
    color: #fff;
}
#port-misc-btn {
    background-color: #fff;
    border: 1px solid var(--primary);
}
#port-misc-btn a {
    color: var(--primary);
}
.port-misc #port-misc-btn {
    background-color: var(--primary);
    border: none;
}
.port-misc #port-misc-btn a {
    color: #fff;
}
#portfolio-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 20px;
    padding: 0 30px;
    margin: 30px auto 0 auto;
}
#portfolio-buttons h1 {
    margin: 0;
}
#portfolio-buttons p {
    margin: 0;
    width: 60vw;
}
.port-sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20px;
}
.port-sections p:nth-child(2) {
    width: 90vw;
    text-align: center;
    margin-bottom: 35px;
}
/* ---------- #contact-hero ---------- */
#contact-hero {
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
#contact-hero .header-cont {
    padding: 30px 7vw 0 7vw;
    text-align: center;
}
#contact-hero .header-cont h1 {
    font-size: var(--m-h1);
    margin: 0 0 10px 0;
}
#contact-hero .header-cont p {
    margin: 0;
    width: 85vw;
}
#contact-hero > img {
    width: 95vw;
    height: auto;
    display: block;
    object-position: 30px;
}
.contact-hero-content {
    width: 85vw;
    border-radius: 15px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px 0;
    color: #fff;
}
.contact-hero-content h2 {
    color: #fff;
    font-size: var(--m-h2);
    margin: 0;
}
.contact-hero-icon-cluster {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 15px;
}
.contact-hero-icon-cluster:nth-of-type(2) a {
    font-size: 0.83rem;
}

.contact-hero-icon-cluster picture {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.2);
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0;
}
.contact-hero-icon-cluster picture img {
    width: 100%;
    height: auto;
}
.contact-hero-icon-cluster strong {
    color: #fff;
    font-size: var(--p);
    width: calc(100% - 65px);
}
.contact-hero-icon-cluster a,
.contact-hero-icon-cluster span {
    color: rgba(255, 255, 255, 0.85);
    font-size: var(--p);
    margin-left: 65px;
}
.business-hours {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.business-hours h3 {
    color: #fff;
    margin: 0 0 5px 0;
}
.hours-of-operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.hours-of-operation span {
    color: rgba(255, 255, 255, 0.85);
    font-size: var(--p);
}

}


 /*     ---------------------------------------
        ---------------------------------------
        ---------------------------------------
        --------MOBILE iPAD/only (772px)-------
        ---------------------------------------
        ---------------------------------------
        ---------------------------------------  */
@media only screen and (min-width: 48.3rem) {
#hero .hero-content {
    position: absolute;
    top: 220px;
    left: 7vw;
    background-color: rgba(2, 5, 43, 0.45);
    width: 55vw;
    border: none;
}
@media only screen and (min-width: 850px) {
    #hero .hero-content {
        top: 250px;
    }
}
#hero .hero-content h1 {
    color: #fff;
    text-align: left;
}
#hero .hero-content p {
    color: #fff;
}
#hero .hero-buttons {
    justify-content: flex-start;
}
#hero .hero-buttons button a {
    font-size: 1rem;
}


/* ---------- #about-hero ---------- */
#about-hero picture:first-child img {
    height: auto;
}
#about-hero .hero-content {
    display: inline;
    padding: 40px;
}
#about-hero .hero-content h1 {
    font-size: var(--h1);
    width: 100%;
}
#about-hero .hero-content p {
    margin: 30px 0;
}
#about-hero .hero-content picture:nth-of-type(1) {
    width: 35vw;
    float: left;
    margin: 30px 30px 30px 0;
}
#about-hero .hero-content picture:nth-of-type(1) img {
    width: 100%;
}
/* ---------- services/portfolio ---------- */
.serv-port-buttons h1 {
    width: 60vw;
}
.serv-port-buttons .select-a-service-buttons {
    column-gap: 30px;
}
.serv-port-buttons .select-a-service-buttons button {
    padding: 15px 25px;
    font-size: 1.5rem;
}
#portfolio-buttons .select-a-service-buttons {
    column-gap: 30px;
}
#portfolio-buttons .select-a-service-buttons button {
    padding: 15px 25px;
}
#portfolio-buttons .select-a-service-buttons button a {
    font-size: 1.5rem;
}
/* ---------- #contact-hero ---------- */
#contact-hero {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 4vw;
    padding: 30px 5vw 0 5vw;
    row-gap: 30px;
}
#contact-hero .header-cont {
    flex: 0 0 100%;
    padding: 10px 7vw 0 7vw;
}
#contact-hero .header-cont h1 {
    font-size: var(--h1);
}
#contact-hero > img {
    width: 45vw;
    max-width: 600px;
}
.contact-hero-content {
    width: clamp(280px, 42%, 520px);
}

}
 @media only screen and (min-width: 1200px) {
    .contact-hero-icon-cluster:nth-of-type(2) a {
        font-size: var(--p);
    }
 }

 /*     ---------------------------------------
        ---------------------------------------
        ---------------------------------------
        -------DESKTOP/LAPTOP (1024px)---------
        ---------------------------------------
        ---------------------------------------
        ---------------------------------------  */
@media only screen and (min-width: 64rem) {
.navigation {
    justify-content: space-between;
}
.navigation .logo {
    margin-left: 100px;
}
.navigation .mobile-box {
    display: none;
}
#menu {
    display: inherit;
    margin-right: 70px;
}
.navigation .nav-menu {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin: 0;
    padding: 0;
    font-size: 1.45rem;
    font-weight: 700;
}
.nav-menu .menu-cta img {
    width: 1rem;
}
.nav-menu .menu-cta a {
    font-size: 1rem;
}
#hero .hero-content {
    top: clamp(380px, 38vw, 580px);
}
@media only screen and (min-width: 1115px) {
  #hero .hero-content {
    width: 45vw;
    max-width: 675px;
}
}
@media only screen and (min-width: 1075px) {
    .navigation .logo {
        margin-left: clamp(115px, 11%, 200px);
    }
    #menu {
        margin-right: clamp(100px, 12%, 185px);
    }
    .navigation .nav-menu {
        column-gap: 35px;
    }
}
/* ---------- #about-hero ---------- */
#about-hero .hero-content {
    max-width: var(--max);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
#about-hero .hero-content h1 {
    order: -2;
}
#about-hero .hero-content p {
    order: -1;
}
#about-hero .hero-content picture:nth-of-type(1) {
    width: 47%;
}
#about-hero .hero-content picture:nth-of-type(2) {
    width: 40%;
}
/* ---------- #contact-hero ---------- */
#contact-hero > img {
    max-width: 550px;
}
.contact-hero-content {
    max-width: 500px;
}


}


/*     ---------------------------------------
       ---------------------------------------
       ---------Home Page desktop/ONLY--------
       ---------------------------------------
       --------------------------------------- */

}
@media only screen and (min-width: 1150px) {



}

